body {
    background-color: rgb(7, 43, 105);
    display: block;
}
.background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.logo {
    vertical-align: middle;
    height: auto;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    max-width: 100%;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto;
}
.card {
    background-color: white;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
    max-width: 35rem;
    padding: 2rem;
    padding-bottom: 2.5rem;
    width: 70%;
    margin-bottom: 2rem;
}
.header {
    margin-bottom: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.header h3 {
    color: #083e9e;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 0.3rem;
}
form {
    overflow-y: auto;
    min-height: min-content;
    margin-bottom: 0px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

}
.form-group {
    position: relative;
    margin-bottom: 2rem;
    flex-direction: column;
    display: flex;
    font-family: Tahoma, Verdana, sans-serif;
}
.form-label{
    font-size: 1rem;
    color: #141b27;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
    font-family: sans-serif;
}
.form-input {
    color: #32353d;
    padding-left: .75rem;
    padding-right: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    outline: 0px;
    background-color: #e7ebf0;
    border-radius: .25rem;
    overflow: visible;
    border: 0px solid;
    font-size: 1rem;

}
.button {
    display: flex;
    flex: 1 1;
    align-items: flex-end;
}
button {
    background-color: rgb(8, 62, 158);
    width: 100%;
    white-space: nowrap;
    font-size: .875rem;
    color: white;
    text-align: center;
    padding-top: 1.25rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1.25rem;
    font-weight: 700;
    margin: 0;
    font-family: sans-serif;
    border-radius: .75rem .75rem .75rem 0;
    overflow: visible;
    cursor: pointer;
    border: 0 solid; 
}
button:hover {
    background-color: rgb(6, 43, 111);
}
